In [21]:
import pandas as pd
import numpy as np
import gc

In [2]:
#Load data from excel and split by "|"
df = pd.read_csv('D:/FIM 500 Project/Excel raw data/2008Q1.csv',header = 0,names = ['Reference Pool ID', 'Loan Identifier', 'Monthly Reporting Period', 'Channel', 'Seller Name', 
     'Servicer Name', 'Master Servicer', 'Original Interest Rate', 'Current Interest Rate', 'Original UPB', 
     'UPB at Issuance', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'First Payment Date', 
     'Loan Age', 'Remaining Months to Legal Maturity', 'Remaining Months To Maturity', 'Maturity Date', 'Original Loan to Value Ratio (LTV)' 
    ,'Original Combined Loan to Value Ratio (CLTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 
     'Co-Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 
     'Occupancy Status', 'Property State', 'Metropolitan Statistical Area (MSA)', 'Zip Code Short', 'Mortgage Insurance Percentage', 
     'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Interest Only First Principal And Interest Payment Date', 
     'Months to Amortization', 'Current Loan Delinquency Status', 'Loan Payment History', 'Modification Flag', 'Mortgage Insurance Cancellation Indicator', 
     'Zero Balance Code', 'Zero Balance Effective Date', 'UPB at the Time of Removal', 'Repurchase Date', 'Scheduled Principal Current', 
     'Total Principal Current', 'Unscheduled Principal Current', 'Last Paid Installment Date', 'Foreclosure Date', 'Disposition Date', 
     'Foreclosure Costs', 'Property Preservation and Repair Costs', 'Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits', 'Associated Taxes for Holding Property', 
     'Net Sales Proceeds', 'Credit Enhancement Proceeds', 'Repurchase Make Whole Proceeds', 'Other Foreclosure Proceeds', 'Non-Interest Bearing UPB', 'Principal Forgiveness Amount' 
     ,'Original List Start Date', 'Original List Price', 'Current List Start Date', 'Current List Price', 'Borrower Credit Score At Issuance', 
     'Co-Borrower Credit Score At Issuance', 'Borrower Credit Score Current', 'Co-Borrower Credit Score Current', 'Mortgage Insurance Type', 'Servicing Activity Indicator' 
    ,'Current Period Modification Loss Amount', 'Cumulative Modification Loss Amount', 'Current Period Credit Event Net Gain or Loss', 'Cumulative Credit Event Net Gain or Loss', 
     'HomeReady Program Indicator', 'Foreclosure Principal Write-off Amount', 'Relocation Mortgage Indicator', 'Zero Balance Code Change Date', 'Loan Holdback Indicator', 
     'Loan Holdback Effective Date', 'Delinquent Accrued Interest', 'Property Valuation Method', 'High Balance Loan Indicator', 'ARM Initial Fixed-Rate Period ≤ 5 YR Indicator', 
     'ARM Product Type', 'Initial Fixed-Rate Period', 'Interest Rate Adjustment Frequency', 'Next Interest Rate Adjustment Date', 'Next Payment Change Date', 'Index', 
     'ARM Cap Structure', 'Initial Interest Rate Cap Up Percent', 'Periodic Interest Rate Cap Up Percent', 'Lifetime Interest Rate Cap Up Percent', 'Mortgage Margin' 
    ,'ARM Balloon Indicator', 'ARM Plan Number', 'Borrower Assistance Plan', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Deal Name' 
    ,'Repurchase Make Whole Proceeds Flag', 'Alternative Delinquency Resolution', 'Alternative Delinquency Resolution Count', 'Total Deferral Amount'
], delimiter = '|')

C:\Users\jessi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (40,101,105) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Reference Pool ID,Loan Identifier,Monthly Reporting Period,Channel,Seller Name,Servicer Name,Master Servicer,Original Interest Rate,Current Interest Rate,Original UPB,...,Mortgage Margin,ARM Balloon Indicator,ARM Plan Number,Borrower Assistance Plan,High Loan to Value (HLTV) Refinance Option Indicator,Deal Name,Repurchase Make Whole Proceeds Flag,Alternative Delinquency Resolution,Alternative Delinquency Resolution Count,Total Deferral Amount
0,NaN,100001806951,32008,R,Other,Other,NaN,6.125,6.125,177000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
1,NaN,100001806951,42008,R,Other,Other,NaN,6.125,6.125,177000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
2,NaN,100001806951,52008,R,Other,Other,NaN,6.125,6.125,177000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
3,NaN,100001806951,62008,R,Other,Other,NaN,6.125,6.125,177000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN
4,NaN,100001806951,72008,R,Other,Other,NaN,6.125,6.125,177000.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN

In [4]:
len(df['Loan Identifier'].unique())

380845

In [5]:
# Main LGD model: Loss = "Loan Balance" + Costs – Property Sales Price – Mortgage Insurance Payment
# Factor related to "Loan Balance" : Original UPB(10), UPB at Issuance(11),Current Actual UPB(12) 
Loan_Balance = {1:'Original UPB', 2:'UPB at Issuance', 3:'Current Actual UPB'}
Cols_Loan_Balance = df[['Original UPB', 'UPB at Issuance', 'Current Actual UPB']]
Cols_Loan_Balance.head()

   Original UPB  UPB at Issuance  Current Actual UPB
0      177000.0              NaN                 0.0
1      177000.0              NaN                 0.0
2      177000.0              NaN                 0.0
3      177000.0              NaN                 0.0
4      177000.0              NaN                 0.0

In [6]:
# Main model: Loss = Loan Balance + "Costs" – Property Sales Price – Mortgage Insurance Payment
# Factor related to "Costs" : Asset Recovery Costs (56), Miscellaneous Holding Expenses and Credits (57)
# Associated Taxes for Holding Property (58), Foreclosure Costs (54)
# Property Preservation and Repair Costs (55)

Costs = {1:'Asset Recovery Costs', 2:'Miscellaneous Holding Expenses and Credits', 3:'Associated Taxes for Holding Property',
        4:'Foreclosure Costs', 5:'Property Preservation and Repair Costs'}
Cols_costs = df[['Asset Recovery Costs', 'Miscellaneous Holding Expenses and Credits',
                'Associated Taxes for Holding Property', 'Foreclosure Costs', 'Property Preservation and Repair Costs']]
Cols_costs.head()

,Asset Recovery Costs,Miscellaneous Holding Expenses and Credits,Associated Taxes for Holding Property,Foreclosure Costs,Property Preservation and Repair Costs
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN

In [7]:
# Main model: Loss = Loan Balance + Costs – "Property Sales Price" – Mortgage Insurance Payment
# Factors relate to Property Sales Price(column #): Net Sales Proceeds (59), Other Foreclosure Proceeds (62), Property Type (28)
Property_Sales_Price = {1:'Net Sales Proceeds', 2:'Other Foreclosure Proceeds', 3:'Property Type'}
Cols_Property_Sales_Price = df[['Net Sales Proceeds', 'Other Foreclosure Proceeds', 'Property Type']]
Cols_Property_Sales_Price.head()

   Net Sales Proceeds  Other Foreclosure Proceeds Property Type
0                 NaN                         NaN            SF
1                 NaN                         NaN            SF
2                 NaN                         NaN            SF
3                 NaN                         NaN            SF
4                 NaN                         NaN            SF

In [8]:
# Main model: Loss = Loan Balance + Costs – Property Sales Price – "Mortgage Insurance Payment"
# Factors relate to Mortgage Insurance Payment(column #): Credit Enhancement Proceeds (60), Mortgage Insurance Percentage (34), 
# Mortgage Insurance Cancellation Indicator (43), Mortgage Insurance Type (73)
Mortgage_Insurance_Payment = {1:'Credit Enhancement Proceeds', 2:'Mortgage Insurance Percentage',
                              3:'Mortgage Insurance Cancellation Indicator', 4:'Mortgage Insurance Type'}
Cols_Mortgage_Insurance_Payment = df[['Credit Enhancement Proceeds', 'Mortgage Insurance Percentage',
                        'Mortgage Insurance Cancellation Indicator', 'Mortgage Insurance Type']]
Cols_Mortgage_Insurance_Payment.head()

,Credit Enhancement Proceeds,Mortgage Insurance Percentage,Mortgage Insurance Cancellation Indicator,Mortgage Insurance Type
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN

In [13]:
# It will lead to memory error!
Lgddf = Cols_Loan_Balance.append(Cols_costs).append(Cols_Property_Sales_Price).append(Cols_Mortgage_Insurance_Payment)
Lgddf.head()

,Original UPB,UPB at Issuance,Current Actual UPB,Asset Recovery Costs,Miscellaneous Holding Expenses and Credits,Associated Taxes for Holding Property,Foreclosure Costs,Property Preservation and Repair Costs,Net Sales Proceeds,Other Foreclosure Proceeds,Property Type,Credit Enhancement Proceeds,Mortgage Insurance Percentage,Mortgage Insurance Cancellation Indicator,Mortgage Insurance Type
0,177000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,177000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,177000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,177000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,177000.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
del df
gc.collect()

38

In [29]:
# Use .describe() to find summary statistics of columns 
SS_Loan_Balance = Cols_Loan_Balance.describe()
SS_costs = Cols_costs.describe()
SS_Property_Sales_Price = Cols_Property_Sales_Price.describe()
SS_Mortgage_Insurance_Payment = Cols_Mortgage_Insurance_Payment.describe()

In [36]:
SS_Mortgage_Insurance_Payment

,Credit Enhancement Proceeds,Mortgage Insurance Percentage,Mortgage Insurance Cancellation Indicator,Mortgage Insurance Type
count,21381.000000,4.814914e+06,0.0,4.814914e+06
mean,23928.930417,2.236450e+01,NaN,1.145486e+00
std,33391.958979,6.906901e+00,NaN,3.525901e-01
min,0.000000,1.000000e+00,NaN,1.000000e+00
25%,0.000000,1.700000e+01,NaN,1.000000e+00
50%,0.000000,2.500000e+01,NaN,1.000000e+00
75%,43434.110000,2.500000e+01,NaN,1.000000e+00
max,368673.060000,4.200000e+01,NaN,2.000000e+00

In [ ]:
# Use .isna().sum() to find that all data in column "UPB at Issuance" is NaN 
Cols_Loan_Balance.isna().sum()